$main-color: #1F56A9;

.box {
  border: 3px solid $main-color;
  position: relative;
  display: flex;
  margin: 10px;
}

.item {
  margin: auto;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
}

.shirt_image {
  flex-grow: 10;
  img {
    padding: 20px;
    width: 80%;
  }
}

.title_description {
  flex-grow: 7;
  text-align: center;
  color: #5EABE7;
}

.menu {
  flex-grow: 1;
}

.shirt_menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  color: $main-color;
  margin: 0;
  li {
    flex: 1 1 0;
    border: 3px solid $main-color;
    border-right: none;
    border-bottom: none;
    text-align: center;
    padding: 5px;
    &:hover {
      color: white;
      background-color: $main-color;
    }
    &:hover .submenu{
      display: flex;
    }
  }
  .submenu {
    list-style-type: none;
    position: relative;
    display: none;
    left: -150px;
    height: 100%;
    bottom: 20px;
    color: $main-color;
    background-color: white;
    li {
      border-bottom: 3px solid $main-color;
      &:hover {
        font-size: 150%;
      }
    }
  }
}

@media screen and (min-width: 750px) {

  body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .box {
    border: 3px solid $main-color;
    position: relative;
    width: 30%;
    display: inline-block;
    flex: 1 1 0;
    margin: 10px;
    min-width: 250px;
    max-width: 320px;
  }

  .title_description {
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
  }

  .shirt_menu {
    flex-direction: row;
    padding-left: 0;
    .submenu {
      flex-direction: column;
      top: -165px;
      left: 0;
      li {
        border-right: 3px solid $main-color;
        border-bottom: none;
      }
    }
  }



}
