$main-color: #1F56A9;

.box {
  border: 3px solid $main-color;
  position: relative;
  display: flex;
}

.shirt_image {
  flex-grow: 10;
  img {
    padding: 20px;
    width: 80%;
  }
}

.title_description {
  flex-grow: 7;
  margin: auto;
  text-align: center;
  color: $main-color;
}

.menu {
  flex-grow: 1;
}

.shirt_menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  color: $main-color;
  margin: 0;
  li {
    flex: 1 1 0;
    border: 3px solid $main-color;
    border-right: none;
    border-bottom: none;
    text-align: center;
    padding: 5px;
    &:hover {
      color: white;
      background-color: $main-color;
    }
    &:hover .submenu{
      display: flex;
    }
  }
  .submenu {
    list-style-type: none;
    position: relative;
    display: none;
    left: -150px;
    height: 100%;
    bottom: 20px;
    color: $main-color;
    li {
      border-bottom: 3px solid $main-color;
      &:hover {
        font-size: 150%;
      }
    }
  }
}
