.box {
  border: 3px solid #1F56A9;
  position: relative;
  display: flex; }

.shirt_image {
  flex-grow: 10; }
  .shirt_image img {
    padding: 20px;
    width: 80%; }

.title_description {
  flex-grow: 7;
  margin: auto;
  text-align: center;
  color: #1F56A9; }

.menu {
  flex-grow: 1; }

.shirt_menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  color: #1F56A9;
  margin: 0; }
  .shirt_menu li {
    flex: 1 1 0;
    border: 3px solid #1F56A9;
    border-right: none;
    border-bottom: none;
    text-align: center;
    padding: 5px; }
    .shirt_menu li:hover {
      color: white;
      background-color: #1F56A9; }
    .shirt_menu li:hover .submenu {
      display: flex; }
  .shirt_menu .submenu {
    list-style-type: none;
    position: relative;
    display: none;
    left: -150px;
    height: 100%;
    bottom: 20px;
    color: #1F56A9; }
    .shirt_menu .submenu li {
      border-bottom: 3px solid #1F56A9; }
      .shirt_menu .submenu li:hover {
        font-size: 150%; }
