body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.box {
  border: 3px solid #1F56A9;
  position: relative;
  width: 30%;
  display: inline-block;
  flex: 1 1 0;
  margin: 10px;
  min-width: 250px;
  max-width: 320px; }

img {
  padding: 10px;
  width: 75%;
  margin: auto;
  display: block; }

.title_description {
  text-align: center;
  width: 80%;
  margin: auto;
  color: #5EABE7; }

.shirt_menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  position: relative; }
  .shirt_menu li {
    flex: 1 1 0;
    text-align: center;
    border: 3px solid #1F56A9;
    border-bottom: none;
    border-right: none;
    color: #1F56A9;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative; }
    .shirt_menu li:hover {
      background-color: #1F56A9;
      color: white; }
    .shirt_menu li:hover .submenu {
      display: block; }

.submenu {
  list-style-type: none;
  position: absolute;
  bottom: 31px;
  right: 0;
  width: 93%;
  display: none;
  background-color: white; }
  .submenu li {
    border-right: 3px solid #1F56A9; }
    .submenu li:hover {
      font-size: 150%; }
